<div class="product-card-drawer"></div>
<div id="model-quick-add-mobile" class="model-quick-add">
    <div class="title"></div>
    <div class="variant-color"></div>
    <div class="variant-option"></div>
    <div class="btn-close-popup">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 8.94043L1 0.94043" stroke="black"/><path d="M1 8.94043L9 0.94043" stroke="black"/></svg>
    </div>
    <div class="loading__spinner hidden">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="height: fit-content;margin: auto; background: none; display: block; shape-rendering: auto;" width="61px" height="61px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#000" stroke-width="11" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(220.188 50 50)">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>
    </div>
</div>