.font-base {
    font-family: 'F Grotesk', sans-serif;
}
:is(.account,.order){
  margin-top: 130px !important;
}
.el-block {
    display: block;
}
.header__icon--account > a{
  text-decoration: none;
}
.customer-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(245, 245, 244, 0.4); 
    padding: 0 16px;
    @extend .font-base;
    .optician-check,
    .login-check{
      .text-book__small{
        color: #000;
      }
    }
    .text-cancel{
      color: #000;
    }
    .toggle-password{
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      &.eye{
        .icon-hide{
          display: none;
        }
        .icon-show{
          display:block ;
        }
      }
      .icon-hide{
        display: block;
      }
      .icon-show{
        display: none;
      }
    }
    .field-confirm {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 6px;
        line-height: 15px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        padding-left: 13px;
        color: #000;
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 14px;
            width: 14px;
            background-color: #F0F0F0;
            border-radius: 2px;

            &::after {
                content: "";
                position: absolute;
                opacity: 0;
                left: 5px;
                top: 3px;
                width: 4px;
                height: 6px;
                border: solid #000;
                border-width: 0 1px 1px 0;
                -webkit-transform: rotate(35deg);
                -ms-transform: rotate(35deg);
                transform: rotate(35deg);
            }
        }
        input {
            cursor: pointer;
            height: 0;
            margin: 0;
            opacity: 0;
            width: 0;
            &:checked ~ .checkmark:after ,
            &:checked ~ label .checkmark:after {
              opacity: 1;
            }
        }
    }

    .register-newsletter {
        margin-top: 16px;
    }

    .register-accept {
        margin-top: 8px;
    }

    .fields-name {
        display: flex;
        gap: 3px;

        .field:last-child {
            margin-top: 0;
        }
    }

    .close {
        background-color: transparent;
        border: none;
        display: flex;
        padding: 4px;
        position: absolute;
        right: 11px;
        top: 11px;
        cursor: pointer;

        svg {
            height: 10px;
            width: 10px;
            path {
                fill: #000;
            }
        }   
    }

    .register-check {
        margin-top: 24px;
        margin-bottom: 0;
        display: flex;
    }

    .optician-check,
    .login-check {
        display: flex;
        gap: 2px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .login-check {
        margin-top: 0;
    }

    .customer .field {
        margin-top: 0.3rem;
        &:first-child {
            margin-top: 0;
        }
    }
    .field-confirm-password{
      flex-direction: column;
      .toggle-password{
        top: 14px;
      }
      .msg-form{
        color: #ff0000;
        font-size: 10px;
      }
    }
    .customer button {
        @extend .font-base;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #000;
        color: #000;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 12px;
        margin: 2.4rem 0;
        min-height: auto;
        padding: 12px;
        width: 100%;
    }

    .popup-content h1 {
        @extend .font-base;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 17px;
        color: #000;
    }
    
    .customer {
        button:before,
        button:after,
        .field:before,
        .field:after {
            display: none;
        }

        .field input {
            @extend .font-base;
            background: #f0f0f0;
            border-radius: 3px;
            font-size: 12px;
            height: auto;
            letter-spacing: 0;
            line-height: 15px;
            margin: 0;
            min-height: auto;
            padding: 11.5px 14px;
        }

        .field input::placeholder {
            opacity: 1;
        }
        .field input:focus {
            box-shadow: none;
        }

        &.login {
            padding: 0;
        }
    }

    .login a {
        margin: 0;
    }

    .text-book__small {
        font-size: 12px;
        line-height: 15px;
    }

    .login .field+a {
        margin-top: 12px;
        color: #B8B8B8;
        text-decoration: none;
    }

    .popup-content {
        background-color: #fefefe;
        border-radius: 4px;
        border: 1px solid #F0F0F0;
        left: 50%;
        margin: 0 16px auto auto;
        max-width: 366px;
        padding: 15px 15px 23px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 32px);
    }

    .customer:not(.account):not(.order) {
        padding: 0;
    }

    input::placeholder {
        color: #B8B8B8;
        opacity: 1;
      }
      
    input::-ms-input-placeholder {
        color: #B8B8B8;
    }

    h1 {
        text-align: left;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 40px;
    }
    &._active {
        display: block;
    }

    .register,
    .register+div {
        display: none;
    }
    .register:target,
    .register:target+div {
        display: block;
    }

    .register:target~.login,
    .register:target~.login+div {
        display: none;
    }

    .recover {
        scroll-margin-top: 20rem;
        display: none;
        & + div {
            display: none;
            font-size: 12px;
            line-height: 15px;
        }
    }

    .recover:target,
    .recover:target + div {
        display: block;
    }

    .recover:target ~ .login,
    .recover:target ~ .login + div {
        display: none;
    }
}

.switch__title {
    @extend .font-base;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.text-book__small span{
  color: #b8b8b8;
}
@media (min-width: 1024px) {
    .customer-popup {
        .popup-content {
            position: relative;
            transform: none;
            padding: 23px;
            top: 25.5px;
            right: 0;
            left: auto;
            margin-right: 0;
        
            h1 {
                font-size: 16px;
                line-height: 20px;
            }
        }

        .customer {
            .field input {
                padding: 7.5px 14px;
            }
            button {
                padding: 8px 14px;
            }
        }
        .close{
          top: 20px;
          right: 20px;
        }
    }
}
