.section-collection-banner {
    .gigi-collection_media {
        .gigi-collection_media--inner {

            &.image-h-small {
                .gigi-collection_image {
                    aspect-ratio: 375/376;

                    @media (min-width: 768px) {
                        aspect-ratio: 1440/384;
                    }
                }
            }

            .gigi-collection_image {
                width: 100%;
                height: 100%;
                object-fit: cover;
        
                &.gigi-collection_image-des {
                    display: none;
        
                    @media (min-width: 768px) {
                        display: block;
                    }
                }
                &.gigi-collection_image-mb {
                    display: block;
        
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }
}